@model eCommerce.Models.CategoryDetails
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<h2>Update Category</h2>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Category Details
    </div>
    <a class="nav-link" href="../Admin/Category">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        Add New
    </a>
    <div class="card-header">
        <a class="nav-link" href="../Admin/AddCategory"></a>
            <i class="fas fa-table me-1"></i>
            Add New Category
    </div>
    <div class="card-body">
        @using (Html.BeginForm("UpdateCategory", "Admin", FormMethod.Post, new { enctype = "multipath/form/data" }))
{


    @Html.HiddenFor(Model => Model.category_id)
    <div class="form-group">
        @Html.LabelFor(model => model.category_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.category_name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.category_status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.category_status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.category_status, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.category_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.category_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.parent_category_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.parent_category_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a onclick="windows.histort.back();" class="btn-danger">Cancel</a>
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
    </div>
</div>

